* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8f75ef;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  flex-direction: column;
  row-gap: 20px;
}

.app > form {
  display: block;
  background: #002838;
  padding: 40px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}

form span {
  cursor: pointer;
  transition: all 0.3s linear;
  position: absolute;
  top: 10px;
  right: 10px;
}

form span:hover {
  opacity: 0.8;
  transform: scale(1.3);
  transform-origin: center;
}

.app > form button {
  width: 100%;
}

.container {
  max-width: 350px;
  width: 100%;
  background-color: #002838;
  color: #fff;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.todo__item span {
  width: 100%;
}

.todo__item {
  display: flex;
  width: 100%;
}

.list {
  flex-direction: column;
}

.header {
  text-align: center;
}
form input {
  width: 100%;
  border: 1px solid #66adea;
  padding: 10px;
  background-color: transparent;
  color: #fff;
}

form {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  width: 110px;
  line-height: 30px;
  background-color: #8f75ef;
  color: #fff;
}

.todo__item button {
  border: none;
  background: transparent;
  display: block;
  width: 24px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all 0.3s linear;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.3);
  transform-origin: center;
}

form button:hover {
  transform: none;
}

.list {
  row-gap: 10px;
}
